body
  height: 100vh
  // background-image: url('')
  padding: 0

.nav
  background-color: #101424

.shopbody
  margin-top: 1.2em
  background-color: wheat
  height: 100vh
  padding: 1em

.disclaimer
  margin-top: 30vw
  p
    color: red

.shoplist
  text-align: left
  padding: 0
  margin: 0
  li
    padding: 0.5em
    margin-bottom: .175em
    display: block
    list-style: none
    text-transform: uppercase
    background-color: #C4BF78
    color: #343434
    font-size: 18px
    font-weight: bold
    text-align: left


.video_container
  position: relative


video
  height: auto
  vertical-align: middle
  width: 100%

.overlay-desc
  background: rgba(0,0,0,0)
  position: absolute
  top: 0 
  right: 0 
  bottom: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center

.titleMsg
  // margin:20%
  color: white
  font-family: 'Nobile', sans-serif
  font-size: 3vw
  text-align: center
  font-weight: bold