
$singlepagecolor: #222
$Doublepagecolor: #ffffff
$blue: rgba(118, 162, 210, 1)
$green: rgba(62, 185, 54, 1)
$white: rgba(255, 255, 255, 1)
$gray: rgba(150, 150, 150, 1)
$pc-media: 960px
$phones-media: 480px
// 各個頁面標語高度
$TeslaHeight: 0vh
$FerrariHeight: 170vh
$PorscheHeight: 301vh
$MazdaHeight: 570vh


//電腦
@mixin pc-width() 
  @media all and (min-width: $pc-media) 
    @content
//手機
@mixin phone-width() 
  @media all and (max-width: $phones-media) 
    @content



//各個月顏色
$OneMonthColor: #003D73
$TwoMonthColor: #0878A4
$ThreeMonthColor: #1ECFD6
$FourMonthColor: #EDD170
$FiveMonthColor: #C05640

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)

body
  overflow-x: hidden
  // background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%)    
  background-image: linear-gradient( 90deg, #1e130c 10%, #9a8478 100%)    
  height: 130vh
  h1
    font-family: 'Cormorant Upright', serif
    font-size: 5vw
    font-style: italic 
  .page1
    .filterBackground
      height: 130vh
      width: 100vw
      position: absolute
      top: 0
      left: 0
      z-index: 17
      background-color: black
      filter: blur(102px)
      opacity: 0.8
    .simpsons
      h1
        position: absolute
        top: 0
        left: 0
        z-index: 15
      position: absolute
      // width: 100%
      top: 40vh
      left: 18vw
      .fa-calendar-check
        color: #ffffff
        position: absolute
        top: 60vh
        cursor: pointer
        @include pc-width  
          font-size: 12vh
          left: 43vw
        @include phone-width
          left: 30vw
          font-size: 10vh
      .TestBox
        width: 70vw
        height: 50vh
        position: absolute
        border-radius: 50px
        top: 0vh
        // opacity: 0
        z-index: 18
        background-color: #ffffff
        .row1
          // position: absolute
          width: 100vw
          heigth: 40vh
          // top: 5%
          // left: 0%
          // display: inline
          .name
            position: absolute
            @include phone-width
              top: 40%
              left: 40%
            @include pc-width  
              top: 70%
              left: 7%
            h2  
              font-family: 'Indie Flower', cursive
              @include phone-width
                font-size: 18px
          .Textbody
            // background-color: black
            position: absolute
            left: 30%
            top: 10%
            @include phone-width
              left: 20%
              top: 50%
            font-family: 'Indie Flower', cursive
            h2  
              @include phone-width
                font-size: 18px
              
          .boss
            position: absolute
            @include pc-width  
              width: 18vw
              left: 0%
            @include phone-width
              width: 40vw
              left: 25%
        .row3
          position: absolute
          @include pc-width  
            left: 80%
            top: 75%
          @include phone-width
            top: 65%
            left: 20%
          button
            margin: 1vw
            font-family: 'Cinzel', serif
      .s_money1
        position: absolute
        z-index: 15
        height: 6vw
        opacity: 0
        animation: animatedSmoney1 2s ease forwards
        animation-delay: 2s
      .s_money2
        position: absolute
        z-index: 15
        height: 6vw
        opacity: 0
        animation: animatedSmoney2 2s ease forwards
        animation-delay: 2s
      .s_01
        height: 15vw
        animation: animatedS01 1s ease forwards
      .s_02
        height: 15vw
        opacity: 0
        animation: animatedS02 2s ease forwards
      .s_03
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(4vw, 10vh)
        height: 8vw
      .s_04
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(1vw, 10vh) 
        height: 8vw
      .s_05
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-2vw, 10vh) 
        height: 8vw
      .s_06
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-5vw, 10vh) 
        height: 8vw
      .s_07
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-8vw, 10vh) 
        height: 8vw
      .s_08
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-11vw, 15vh)
        height: 8vw
      .s_09
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-14vw, 15vh) 
        height: 8vw
      .s_10
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-17vw, 15vh) 
        height: 8vw
      .s_11
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-20vw, 15vh) 
        height: 8vw
      .s_12
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-23vw, 15vh) 
        height: 8vw
      .s_13
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-80.5vw, 10vh)
        height: 8vw
      .s_14
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-83.5vw, 10vh) 
        height: 8vw
      .s_15
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-86.5vw, 10vh) 
        height: 8vw
      .s_16
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-11.5vw, -15vh) 
        height: 8vw
      .s_17
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-14.5vw, -15vh) 
        height: 8vw
      .s_18
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-17.5vw, -10vh) 
        height: 8vw
      .s_19
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-20.5vw, -10vh) 
        height: 8vw
      .s_20
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-23.5vw, -10vh) 
        height: 8vw
      .s_21
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-26.5vw, -10vh) 
        height: 8vw
      .s_22
        opacity: 0
        animation: animatedS03 2s ease forwards
        animation-delay: 2s
        transform: translate(-29.5vw, -10vh) 
        height: 8vw
      .s_02_01
        height: 12vw
        opacity: 0
        animation: animatedS0201 1.5s ease forwards
        animation-delay: 3.5s
      .s_02_01:hover
        cursor: pointer
        filter: contrast(200%)
      .s_02_02
        height: 12vw
        opacity: 0
        animation: animatedS0202 1.5s ease forwards
        animation-delay: 3.5s
        
      .s_04_01
        height: 12vw
        opacity: 0
        animation: animatedS0401 1.5s ease forwards
        animation-delay: 5s
      .s_04_02
        height: 12vw
        transform: translate(-0%, -250%) 
        opacity: 0
        animation: animatedS0402 1.5s ease forwards
        animation-delay: 5s
        
    .circle
      position: absolute
      top: 30%
      left: 25%
      border-radius: 50%
      z-index: 10
      animation: animatedEight 3s ease forwards
      animation-delay: 3s
      span.dot
        position: absolute
        top: 0
        margin-left: -8px
        content: ''
        left: 0
        top: 0
        display: block
        width: 3vh
        height: 3vh
        background-color: #ffffff
        border-radius: 50%
        opacity: 0
        float: left
        h1
          width: 100px
          padding: 70%
          font-size: 3vw
        p
          text-align: center
          padding-top: 35%
          color: white
          font-size: 1.5vw
        p.TwoP
          padding-top: 30%
        h2 
          text-align: center
    .moneyImg
      height: 80vh  
      margin-left: 5vw

    .item
      // display: inline
      font-family: 'Cormorant Upright', serif
      margin: 0 
      text-align: center
      padding: 1em 3em
      a
        color: #FFF
        text-decoration: none
        font: 1.5em Raleway
        padding: 10px 10px
        margin: 0px 10px
        position: relative
        z-index: 0
        cursor: pointer
    div.borderYtoX a
      &:before, &:after
          width: 1px
          position: absolute
          opacity: 0.5
          height: 100%
          content: ''
          background: #FFF
          transition: all 0.3s
      &:before
        left: 0px
        top: 0px
      &:after
        right: 0px
        bottom: 0px
    @include pc-width       
      &:hover
        &:before, &:after
          opacity: 1
          height: 2%
          width: 100%
    .rwd-table 
      margin: auto
      width: 50%
      font-size: 1.4em
      font-family: 'Orbitron', sans-serif
      font-weight: 500
      color: white
      th
        text-align: right
        border-bottom: 1px solid black
      td
        text-align: right
        height: 4vh
        border-bottom: 1px solid black
      tr.total
        font-weight: 700
        color: #FF5511
        text-align: right
        height: 8vh
        border-bottom: 6px solid #FF5511
    .month
      height: 40vh
      background-color: white
      opacity: 0
    .OneMonth
      opacity: 0.2
      position: absolute
      width: 30vw
      height: 18vh
      top: 30%
      left: 30%
      margin-left: -8px
      content: ''
      background-color: $OneMonthColor
      animation: animatedOneText 1s ease forwards
      p
        // font-style: bold
        font-size: 100%
        text-align: center
        color: #ffffff
      h1
        color: #ffffff

    .OneMonth:hover
      z-index: 2
      box-shadow: 0px 0px 35px 5px #000000
    .TwoMonth
      opacity: 0
      position: absolute
      width: 30vw
      height: 18vh
      top: 40%
      left: 30%
      margin-left: -8px
      content: ''
      background-color: $TwoMonthColor
      animation: animatedTwoText 1s ease forwards
      p
        font-size: 100%
        color: #ffffff
        text-align: center
      h1
        color: #ffffff
    .TwoMonth:hover
      z-index: 2
      box-shadow: 0px 0px 35px 5px #000000
    .ThreeMonth
      opacity: 0
      position: absolute
      width: 30vw
      height: 18vh
      top: 50%
      left: 30%
      margin-left: -8px
      content: ''
      background-color: $ThreeMonthColor
      animation: animatedThreeText 1s ease forwards
      p
        font-size: 100%
        text-align: center
        color: #ffffff
      h1
        color: #ffffff
    .ThreeMonth:hover
      z-index: 2
      box-shadow: 0px 0px 35px 5px #000000

    .FourMonth
      opacity: 0
      position: absolute
      width: 30vw
      height: 18vh
      top: 60%
      left: 30%
      margin-left: -8px
      content: ''
      background-color: $FourMonthColor
      animation: animatedFourText 1s ease forwards
      p
        font-size: 100%
        text-align: center
        color: #ffffff
      h1
        color: #ffffff
    .FourMonth:hover
      z-index: 2
      box-shadow: 0px 0px 35px 5px #000000

    .FiveMonth
      opacity: 0
      position: absolute
      width: 30vw
      height: 18vh
      top: 70%
      left: 30%
      margin-left: -8px
      content: ''
      background-color: $FiveMonthColor
      animation: animatedFiveText 1s ease forwards
      p
        font-size: 100%
        text-align: center
        color: #ffffff
      h1
        color: #ffffff
    .FiveMonth:hover
      z-index: 2
      box-shadow: 0px 0px 35px 5px #000000

  .page2
    height: 100vh
    background-color: $singlepagecolor
  .page3
    height: 100vh
    background-color: $singlepagecolor
  .page4
    height: 100vh
    background-color: $Doublepagecolor





@keyframes animatedSmoney1
  0%
    transform: translate(6vw, 10vh) scaleX(1)
  70%
    transform: translate(-8vw, -1vh) scaleX(-1) scale(2)
    opacity: 1
  100%
    transform: translate(-8vw, 20vh) scaleX(1)
    opacity: 0.7
@keyframes animatedSmoney2
  0%
    transform: translate(6vw, 10vh) scaleX(1)
  70%
    transform: translate(30vw, -1vh) scaleX(-1) scale(2)
    opacity: 1
  100%
    transform: translate(30vw, 20vh) scaleX(1)
    opacity: 0.7
@keyframes animatedS01
  0%
    transform: translate(0vw, 0vh) scaleX(0)
  100%
    transform: translate(6vw, 10vh) scaleX(-1)

@keyframes animatedS02
  0%
    transform: translate(-3vw, 10vh) 
  100%
    opacity: 1
    transform: translate(4vw, 10vh) 
@keyframes animatedS03
  0%
    // transform: translate(-3vw, 10vh)
  100%
    opacity: 1
    // transform: translate(4vw, 10vh) 
@keyframes animatedS0201
  0%
    transform: translate(0, -100%) scaleX(1) 
  100%
    opacity: 1
    transform: translate(-50%, -250%) scaleX(-1)
@keyframes animatedS0202
  0%
    transform: translate(0, -100%) scaleX(-1)
  100%
    opacity: 1
    transform: translate(150%, -250%) scaleX(1)
@keyframes animatedS0401
  0%
    transform: translate(50%, -250%)  scaleX(1)
  100%
    opacity: 1
    transform: translate(-50%, -120%) scaleX(-1)
@keyframes animatedS0402
  0%
    transform: translate(-0%, -250%) scaleX(-1)
  100%
    opacity: 1
    transform: translate(50%, -120%) scaleX(1)


    


//滑動Text動畫
@keyframes animatedOneText
  0%
    transform: translate(130%, 100%) rotate(130deg) Scale(0.1)
  100%
    transform: translate(130%, -35%) 
    opacity: 1
    // background-color: red

@keyframes animatedTwoText
  0%
    transform: translate(100%, 100%) rotate(100deg)
  100%
    transform: translate(130%, 10%)
    opacity: 1

@keyframes animatedThreeText
  0%
    transform: translate(100%, 200%) Scale(0.4)
  100%
    transform: translate(130%, 55%)
    opacity: 1
    // background-color: red

@keyframes animatedFourText
  0%
    transform: translate(100%, 300%) skew(-32deg, -18deg)
  100%
    transform: translate(130%, 100%)
    opacity: 1
    
    // background-color: red
@keyframes animatedFiveText
  0%
    transform: translate(100%, 50%)
  100%
    transform: translate(130%, 145%)
    opacity: 1
    
    // background-color: red


//VueJs動畫  淡入淡出
.team-enter-active 
  transition: opacity 1.8s
.team-leave-active 
  transition: opacity 1.8s

.team-enter,
.team-leave-to 
  opacity: 0

.money-enter-active 
  transition: opacity 1.8s
.money-leave-active 
  transition: opacity 1.8s

.money-enter,
.money-leave-to 
  opacity: 0

.showBox-enter-active 
  transition: opacity 1s
.showBox-leave-active 
  transition: opacity 1s

.showBox-enter,
.showBox-leave-to 
  opacity: 0


.list-enter-active 
  transition: opacity 1.8s
.list-leave-active 
  transition: opacity 1.8s

.list-enter,
.list-leave-to 
  opacity: 0
