$pageheight: 1000vh
$liColor: #343434
$liBGColor: #C4BF78
$titlecolor: #FFFFFF
$hoverColor: #000000
$pc-media: 960px
$pcs-media: 959px
$pad-media: 760px
$pads-media: 759px
$phone-media: 480px
$phones-media: 479px
$ferrari-url: 'http://www.carlogos.org/logo/Ferrari-text-logo-1920x1080.png'

// 各個頁面標語高度
$TeslaHeight: 0vh
$FerrariHeight: 170vh
$PorscheHeight: 301vh
$MazdaHeight: 570vh


//電腦
@mixin pc-width() 
  @media all and (min-width: $pc-media) 
    @content
//手機
@mixin phone-width() 
  @media all and (max-width: $phones-media) 
    @content

  

body
  height: $pageheight
  // background-image: url('')
  padding: 0

  overflow-y: hidden



.shopbody
  margin-top: 1.2em
  background-color: wheat
  height: 100vh
  padding: 1em

.disclaimer
  margin-top: 30vw
  p
    color: red

.shoplist
  text-align: left
  padding: 0
  margin: 0
  li
    padding: 0.5em
    margin-bottom: .175em
    display: block
    list-style: none
    text-transform: uppercase
    background-color: $liBGColor
    color: $liColor
    font-size: 18px
    font-weight: bold
    text-align: left

video
  @include pc-width
    height: auto
    // vertical-align: middle
    width: 100vw
    // height: 100vh
  @include phone-width
    display: none
    height: auto
    // vertical-align: middle
    width: 100vw
    // height: 100vh



// ===========================Tesla===========================
.Tesla
  .overlay-nav
    @include pc-width
      position: absolute
      top: 0 
      right: 0 
      bottom: 0
      left: 0
      text-align: center
      justify-content: center
      font-size: 1.5vw
      font-family: 'Nothing You Could Do', cursive
    li 
      color: $titlecolor
      display: inline
      margin: 0 10px
    li:hover  
      color: $hoverColor
      font-weight: bold
      cursor: pointer
  @include phone-width
    position: absolute
    top: 0 
    right: 0 
    bottom: 0
    left: 0
    text-align: center
    justify-content: center
    font-family: 'Nothing You Could Do', cursive
    #menu_div
      display: none
    li 
      color: $hoverColor
      display: flex
      text-align: center
      // margin: 0 10px
    ul
      columns: 1
      display: none

  @include pc-width
  .Teslaoverlay-desc
    background: rgba(0,0,0,0)
    position: absolute
    top: $TeslaHeight 
    right: 0 
    bottom: 50%
    left: 0
    display: flex
    align-items: center
    justify-content: center
    .titleMsg
      // margin-bottom: 30%
      color: $titlecolor
      font-family: 'Nothing You Could Do', cursive;
      font-size: 3vw
      text-align: center
      font-weight: bold
.Ferrari
  .Ferrarioverlay-desc
    background: rgba(0,0,0,0)
    position: absolute
    top: $FerrariHeight
    right: 0 
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center    
    .titleMsg
      // margin-bottom: 30%
      color: $titlecolor
      font-family: 'Cinzel', serif;
      font-size: 3.0vw
      text-align: center
      font-weight: bold


// ===========================Porsche===========================
.Porsche
  .nav
    background-color: #ffffff
    text-align: center
    height: 17vh
    ul 
      margin: auto
      .logo-img
        font-family: 'Cinzel', serif
        padding: 2vh 0
        font-size: 3.0vw
        font-weight: bold
        letter-spacing: 1vw
        cursor: context-menu
      li
        cursor: pointer
        margin: 10vh
        display: inline
        color: $hoverColor
        font-size: 1.5vw
        padding-bottom: 1vw
      li:hover
        border-bottom: 2px solid red;
        font-weight: bold
        // font-size: 1.5vw
  img
    // height: 100vh
    // margin-top: 10vh
    width: 100vw
  .Porscheoverlay-desc
    background: rgba(0,0,0,0)
    position: absolute
    top: $PorscheHeight
    right: 90vh 
    bottom: 0
    left: 40vh
    display: inline
    align-items: center
    justify-content: center    
    .titleMsg
      // margin-bottom: 30%
      color: $hoverColor
      font-family: 'Cormorant Upright', serif
      font-size: 3.5vw
      text-align: center
      font-weight: bold
    .titleName
      // margin-bottom: 30%
      color: $hoverColor
      font-family: 'Miss Fajardose', cursive
      // font-style: oblique
      margin-top: -4vh
      font-size: 2.8vw
      text-align: center
      font-weight: bold


// ===========================Ferrari===========================
.Ferrari
  .Ferrarioverlay-desc
    background: rgba(0,0,0,0)
    position: absolute
    top: $FerrariHeight
    right: 0 
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center    
    .titleMsg
      // margin-bottom: 30%
      color: $titlecolor
      font-family: 'Cinzel', serif
      font-size: 3.0vw
      text-align: center
      font-weight: bold
// ===========================Mazda===========================
.Mazda
  .mazda-logo
    position: absolute
    top: 525vh
    width: 7vw 
  .Mazdaoverlay-desc
    background: rgba(0,0,0,0)
    position: absolute
    top: $MazdaHeight
    right: 0 
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center    
    .titleMsg
      // margin-bottom: 30%
      color: $titlecolor
      font-family: 'Cinzel', serif;
      font-size: 3.0vw
      text-align: center
      font-weight: bold

.onepagebar
  position: fixed
  top: 40% 
  right: 0 
  bottom: 0
  left: 0
  display: flex
  ul
    li
      font-family: 'Raleway', sans-serif
      margin: 0.7em 0
      color: $titlecolor
      cursor: pointer
      display: block
      font-size: 22px
      @include phone-width
        margin: 0em 0
    li
      .current
        transform: translateX(15px)
        color: tomato
    li:hover 
      font-weight: bold
      color: $hoverColor
    
// ===========================Honda===========================



.Tesla
  @include pc-width
    position: relative
    height: 105vh
.Ferrari
  margin-top: 20vh
  height: 100vh
.Porsche
  height: 100vh
.Benz
  height: 100vh
.Bmw
  height: 100vh
.Mazda
  height: 100vh
.Honda
  height: 100vh