


body
  background: #FFFFFF
  // background-image: url(https://images.unsplash.com/photo-1490194490614-689f9bf126b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1459102e9351064561fb8cd7746201cb&auto=format&fit=crop&w=634&q=80)
  .cursor
    cursor: pointer
  div.title
    // position: fixed
    margin-top: 1%
    padding-bottom: 12px
    border-bottom: 1px solid black
    h2.title
      font-family: 'Cabin Sketch', cursive
      font-size: 2.2em
      margin: 0 100px 0 30px
    .search
      margin: 0 100px 0 100px
      // vertical-align: middle
      white-space: nowrap
      position: relative
      .Searchinput
        border-radius: 1000px
        text-align: center
        float: left
      span.searchicon
        position: absolute
        top: 20%
        left: 85%
    .righticon
      margin: 0 5px 0 5px
