  /**
    flex 無法配合position去固定位置 會跑版，解決方法為使用disaplay flex 
      參考資料:https://stackoverflow.com/questions/29036231/how-can-i-have-a-position-fixed-behaviour-for-a-flexbox-sized-element
  **/
  
$pc-media: 960px
$phones-media: 480px
//電腦
@mixin pc-width() 
  @media all and (min-width: $pc-media) 
    @content
//手機
@mixin phone-width() 
  @media all and (max-width: $phones-media) 
    @content

body
  background: #FAFAFA
  overflow-x: hidden
  // background-image: url(https://images.unsplash.com/photo-1490194490614-689f9bf126b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1459102e9351064561fb8cd7746201cb&auto=format&fit=crop&w=634&q=80)
  .cursor
    cursor: pointer
  div.topTitle
    background: #ffffff
    display: flex
    // position: fixed
    // top: 0
    // left: 0
    // right: 0
    padding: 12px 0 12px 0px
    border-bottom: 1px solid rgba(0,0,0,.0975)
    h2.title
      font-family: 'Cabin Sketch', cursive
      font-size: 2.2em
      margin: 0 0px 0 30px
    .search
      @include pc-width
        margin: 0 150px 0 150px
        // vertical-align: middle
        white-space: nowrap
        position: relative
        .Searchinput
          border-radius: 1000px
          text-align: center
          float: left
      @include phone-width
        display: none
      span.searchicon
        position: absolute
        top: 20%
        left: 85%
    .righticon
      margin: 0 5px 0 5px
  div.content
    margin: 5%
    display: inline-flex
    .Logoimage
      width: 450px
      margin: 0 100px 0 400px
    .editbutton
      border: 1px solid #dbdbdb
      padding: 5px
      margin: 0 15px 0 15px
    .flex-2
      display: flex
      flex-direction: column
  div.imgcontent
    display: flex
    padding: 2vw
    margin-left: 20% 
    margin-right: 10% 
    div.imglist
      width: 100%

      .image
        height: 300px
        width: 300px
        display: inline-flex
        background-size: cover
        background-repeat: no-repeat
        // background-position: center
        cursor: pointer
        margin: 2vw
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%)
      .image:hover
         transition: 0.5s
         transform: scale(1.2)

