extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block content
    h1 #{title}
    
    .BoxScore
      .GameId(v-show="true") #{GameId}
      .VtriCode(v-show="true") #{VtriCode}
      .HtriCode(v-show="true") #{HtriCode}
      //- h4 {{message}}
      .Box
        table
          tbody
            tr 
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name   
              th Name
              th Name
              th Name
              th Name
            tr
              td(v-for='value in object.HomeBoxData')  {{value}} 
        table
          tbody
            tr 
              th Name
              th Name
              th Name
              th Name
              th Name
              th Name
            tr
              td(v-for='value in object.AwayBoxData')  {{value}} 
    
    
    script(src='/js/BoxScore.js')
    link(rel='stylesheet', href='/stylesheets/BoxScore.css')

