extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    link(href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Cinzel|Miss+Fajardose|Cormorant+Upright|Orbitron|Cinzel|Indie+Flower', rel='stylesheet')
    .container-fulid.melaApp
        .page1
            .filterBackground(v-if="showBox")
            h1 melaleuca
            .item.borderYtoX(name='list')
                a(v-on:click='money') 獎金
                a(v-on:click='team') Team
            .listStart(v-if="page=='Start'") 
                h1 初始
            transition.listmoney(v-if="page=='Money'",name='money')
                table.rwd-table.table-hover
                    tr
                        th 階銜
                        th 所需組織點數
                        th 快速進階獎金
                        th 親推輔導獎金
                        th 焦點輔導獎金
                    tr(v-for='value in tabledata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
                    tr.total(v-for='value in totaldata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
            transition.listOne(v-if="page!='Money'",name='team') 
                .simpsons
                    //- i.icon.fas.fa-check(style="color:#ffffff;font-size:30px;")
                    .first(v-if="page=='Team' || page=='One'|| page=='Two'|| page=='Four'")
                      img.s_money1(src='/images/Steve/simpsons_05.png')
                      img.s_money2(src='/images/Steve/simpsons_05.png')
                      img.s_01(src='/images/Steve/simpsons_03.png')
                      img.s_02(src='/images/Steve/simpsons_03.png')
                      img.s_03(src='/images/Steve/simpsons_02.png')
                      img.s_04(src='/images/Steve/simpsons_02.png')
                      img.s_05(src='/images/Steve/simpsons_02.png')
                      img.s_06(src='/images/Steve/simpsons_02.png')
                      img.s_07(src='/images/Steve/simpsons_02.png')
                      img.s_08(src='/images/Steve/simpsons_02.png')
                      img.s_09(src='/images/Steve/simpsons_02.png')
                      img.s_10(src='/images/Steve/simpsons_02.png')
                      img.s_11(src='/images/Steve/simpsons_02.png')
                      img.s_12(src='/images/Steve/simpsons_02.png')
                      img.s_13(src='/images/Steve/simpsons_02.png')
                      img.s_14(src='/images/Steve/simpsons_02.png')
                      img.s_15(src='/images/Steve/simpsons_02.png')
                      img.s_16(src='/images/Steve/simpsons_02.png')
                      img.s_17(src='/images/Steve/simpsons_02.png')
                      img.s_18(src='/images/Steve/simpsons_02.png')
                      img.s_19(src='/images/Steve/simpsons_02.png')
                      img.s_20(src='/images/Steve/simpsons_02.png')
                      img.s_21(src='/images/Steve/simpsons_02.png')
                      img.s_22(src='/images/Steve/simpsons_02.png')
                    .two(v-if="page=='Team' || page=='Two' || page=='Four'")
                        //- h1 Know How
                        img.s_02_01(src='/images/Steve/simpsons_01.png')
                        img.s_02_02(src='/images/Steve/simpsons_01.png')
                    .four(v-if="page=='Team' || page=='four'")
                        img.s_04_01(src='/images/Steve/simpsons_04.png')
                        img.s_04_02(src='/images/Steve/simpsons_04.png')
                    //- img(src='/images/Steve/simpsons_02.png')
                    .iconDiv
                        a(v-on:click="showBoxClick")
                            i.icon.fas.fa-calendar-check
                    .TestBox(v-if="showBox")
                        .row1
                            img.boss.col-2(src='/images/Steve/boss.png')
                            .Textbody
                                h2 Fuck You direct selling Dog
                            .name.col-2
                                h2 Boss
                        .row3
                            button.btn.btn-danger(v-on:click="cancelBox") Cancel
            .OneMonth(v-if="page!='Money'",v-on:click='one')
                h1 One
                p 找尋1位適合的副手(各找10位愛用者)
            .TwoMonth(v-if="page!='Money'",v-on:click='two')
                h1 Two
                p 與副手各找1位經營者(跟你第一個月做一模一樣的事情)
            .ThreeMonth(v-if="page!='Money' ",v-on:click='three')
                h1 Three
                p 與副手各找1位愛用者(輔佐你團隊的2位經營者)
            .FourMonth(v-if="page!='Money' ",v-on:click='four')
                h1 Four
                p 與副手各找1位經營者(持續輔佐你團隊的2位經營者)
            .FiveMonth(v-if="page!='Money'",v-on:click='five')
                h1 Five
                p 與副手各找1位愛用者(持續輔佐你團隊的2位經營者)
                    //- span.dot.no3
                    //- span.dot.no4
                    //- span.dot.no5
                    //- span.dot.no6


            //- img.moneyImg(src='/images/Steve/money.jpg')
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //- .page2
        //- .page3
        //- .page4


            



    script(src='https://d3js.org/d3.v3.min.js')
    script(src='/build/js/Demo05.js')
    link(rel='stylesheet', href='/build/css/Demo05.css')

