extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block footer
block content
    h1 Demo03-聊天
    
      

    script(src='/js/Demo03.js')
    script(src="/socket.io/test/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/Demo03.css')

