extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block footer
block content
    .container-fulid.offset-xl-1.col-xl-10
        svg#logo.col(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='145px', height='32px', viewbox='0 0 337.5 72.6', style='enable-background:new 0 0 337.5 72.6;', xml:space='preserve')
          g
            g#c
            g
                g
                polygon(style='fill-rule:evenodd;clip-rule:evenodd;', points='67.6,59.8 63.5,72.2 60.8,72.2 57.7,61.8 54.6,72.2 52,72.2\
                47.9,59.8 50.2,59.8 53.3,70.2 56.4,59.8 59,59.8 62.1,70.2 65.3,59.8           ')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M85.3,66c0,2-0.8,3.7-2.5,4.9c-1.5,1.1-3.3,1.6-5.5,1.6\
                c-2.2,0-4-0.6-5.5-1.7c-1.7-1.3-2.5-2.9-2.5-4.9c0-2,0.8-3.6,2.5-4.9c1.5-1.1,3.3-1.7,5.5-1.7c2.2,0,4,0.6,5.4,1.7\
                C84.4,62.3,85.3,64,85.3,66z M83.1,66c0-1.5-0.6-2.6-1.9-3.5c-1.1-0.8-2.4-1.2-4-1.2c-1.7,0-3.1,0.4-4.2,1.3\
                c-1.1,0.9-1.6,2-1.6,3.4c0,1.4,0.5,2.5,1.6,3.4c1.1,0.9,2.5,1.3,4.3,1.3c1.8,0,3.2-0.4,4.2-1.3C82.6,68.5,83.1,67.4,83.1,66z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M102.9,72.2h-2.4l-3.4-4.7h-6.3v4.7h-2.1V59.8h9.8\
                c1.3,0,2.3,0.4,3.1,1.1c0.7,0.7,1.1,1.6,1.1,2.8c0,1.1-0.3,1.9-0.9,2.5c-0.6,0.6-1.3,1-2.3,1.1L102.9,72.2z M98.3,65.6\
                c1.6,0,2.4-0.6,2.4-1.9c0-1.4-0.9-2-2.6-2h-7.2v3.9H98.3z')
                polygon(style='fill-rule:evenodd;clip-rule:evenodd;', points='120.5,72.2 117.8,72.2 111.8,65.7 108.1,68.4 108.1,72.2\
                106.1,72.2 106.1,59.8 108.1,59.8 108.1,66.2 116.8,59.8 119.8,59.8 113.4,64.5           ')
                rect(x='127.7', y='59.8', style='fill-rule:evenodd;clip-rule:evenodd;', width='2.1', height='12.4')
                polygon(style='fill-rule:evenodd;clip-rule:evenodd;', points='147.8,72.2 145.3,72.2 135.8,62 135.8,72.2 133.7,72.2\
                133.7,59.8 136.3,59.8 145.8,70 145.8,59.8 147.8,59.8           ')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M167,59.8c1.3,0,2.3,0.4,3,1.1c0.7,0.7,1.1,1.6,1.1,2.8\
                c0,1.2-0.4,2.2-1.2,2.8c-0.8,0.7-1.9,1-3.4,1h-7.4v4.7h-2.1V59.8H167z M166.6,65.6c1.6,0,2.4-0.6,2.4-1.9c0-1.4-0.8-2-2.5-2\
                h-7.3v3.9H166.6z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M187.5,72.2h-2.4l-3.4-4.7h-6.3v4.7h-2.1V59.8h9.8\
                c1.3,0,2.3,0.4,3.1,1.1c0.7,0.7,1.1,1.6,1.1,2.8c0,1.1-0.3,1.9-0.9,2.5c-0.6,0.6-1.3,1-2.3,1.1L187.5,72.2z M182.9,65.6\
                c1.6,0,2.4-0.6,2.4-1.9c0-1.4-0.9-2-2.6-2h-7.2v3.9H182.9z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M206,66c0,2-0.8,3.7-2.5,4.9c-1.5,1.1-3.3,1.6-5.5,1.6\
                c-2.2,0-4-0.6-5.5-1.7c-1.7-1.3-2.5-2.9-2.5-4.9c0-2,0.8-3.6,2.5-4.9c1.5-1.1,3.3-1.7,5.5-1.7c2.2,0,4,0.6,5.4,1.7\
                C205.2,62.3,206,64,206,66z M203.9,66c0-1.5-0.6-2.6-1.9-3.5c-1.1-0.8-2.4-1.2-4-1.2c-1.7,0-3.1,0.4-4.2,1.3\
                c-1.1,0.9-1.6,2-1.6,3.4c0,1.4,0.5,2.5,1.6,3.4c1.1,0.9,2.5,1.3,4.2,1.3c1.8,0,3.2-0.4,4.2-1.3C203.3,68.5,203.9,67.4,203.9,66\
                z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M224.7,65.8c0,2-0.7,3.7-2.2,4.9c-1.4,1.2-3.4,1.9-5.7,1.9\
                c-2.2,0-4-0.6-5.5-1.7c-1.7-1.3-2.5-2.9-2.5-4.9c0-2,0.8-3.6,2.5-4.9c1.5-1.1,3.3-1.7,5.6-1.7c2.7,0,5,1,6.7,3l-1.9,1\
                c-1.3-1.4-2.9-2.1-5-2.1c-1.6,0-2.9,0.4-4,1.2c-1.2,0.9-1.9,2.1-1.9,3.5c0,1.4,0.5,2.5,1.6,3.4c1.1,0.9,2.5,1.3,4.2,1.3\
                c2.7,0,4.5-1.1,5.3-3.2h-5.8v-1.9h8.3V65.8z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M242.3,72.2h-2.4l-3.4-4.7h-6.3v4.7h-2.1V59.8h9.8\
                c1.3,0,2.3,0.4,3.1,1.1c0.7,0.7,1.1,1.6,1.1,2.8c0,1.1-0.3,1.9-0.9,2.5c-0.6,0.6-1.3,1-2.3,1.1L242.3,72.2z M237.7,65.6\
                c1.6,0,2.4-0.6,2.4-1.9c0-1.4-0.9-2-2.6-2h-7.2v3.9H237.7z')
                polygon(style='fill-rule:evenodd;clip-rule:evenodd;', points='258.5,72.2 245.5,72.2 245.5,59.8 258,59.8 258,61.7\
                247.6,61.7 247.6,64.8 254.8,64.8 254.8,66.7 247.6,66.7 247.6,70.3 258.5,70.3           ')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M271.9,62.7c-1.8-0.9-3.7-1.4-5.6-1.4c-1.3,0-2.2,0.2-2.9,0.4\
                c-0.7,0.3-1,0.7-1,1.2c0,0.5,0.4,0.9,1.1,1.2c0.5,0.2,1.4,0.3,2.5,0.4c1.7,0.1,2.8,0.2,3.4,0.3c1.6,0.2,2.7,0.6,3.4,1.2\
                c0.7,0.6,1.1,1.4,1.1,2.4c0,1.3-0.6,2.3-1.7,3.1c-1.2,0.7-2.8,1.1-5,1.1c-3.2,0-5.6-0.7-7.4-2.1l1.1-1.5c1.9,1.2,4,1.8,6.3,1.8\
                c1.5,0,2.6-0.2,3.4-0.6c0.8-0.4,1.1-0.9,1.1-1.6c0-0.8-0.5-1.3-1.5-1.6c-0.5-0.1-1.9-0.3-4.3-0.4c-2-0.1-3.5-0.4-4.3-0.8\
                c-1-0.5-1.4-1.3-1.4-2.4c0-1.2,0.5-2.1,1.6-2.8c1.1-0.7,2.6-1,4.6-1c2.7,0,4.9,0.6,6.7,1.8L271.9,62.7z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M287.6,62.7c-1.8-0.9-3.7-1.4-5.6-1.4c-1.3,0-2.2,0.2-2.9,0.4\
                c-0.7,0.3-1,0.7-1,1.2c0,0.5,0.4,0.9,1.1,1.2c0.5,0.2,1.4,0.3,2.5,0.4c1.7,0.1,2.8,0.2,3.4,0.3c1.6,0.2,2.7,0.6,3.4,1.2\
                c0.7,0.6,1.1,1.4,1.1,2.4c0,1.3-0.6,2.3-1.7,3.1c-1.2,0.7-2.8,1.1-5,1.1c-3.2,0-5.6-0.7-7.4-2.1l1.1-1.5c1.9,1.2,4,1.8,6.3,1.8\
                c1.5,0,2.6-0.2,3.4-0.6c0.8-0.4,1.1-0.9,1.1-1.6c0-0.8-0.5-1.3-1.5-1.6c-0.5-0.1-1.9-0.3-4.3-0.4c-2-0.1-3.5-0.4-4.3-0.8\
                c-1-0.5-1.4-1.3-1.4-2.4c0-1.2,0.5-2.1,1.6-2.8c1.1-0.7,2.6-1,4.6-1c2.7,0,4.9,0.6,6.7,1.8L287.6,62.7z')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='M331.9,38.9h1c0.5,0,0.8,0.2,0.8,0.6c0,0.5-0.4,0.7-1.1,0.7h-0.8V38.9z\
                M331.1,42.8h0.7v-2h0.5l1.3,2h0.9l-1.3-2c0.6-0.1,1.2-0.4,1.2-1.3c0-0.9-0.5-1.3-1.6-1.3h-1.7V42.8z M335.7,40.5\
                c0,1.8-1.4,3.2-3.1,3.2c-1.7,0-3.1-1.4-3.1-3.2c0-1.8,1.4-3.2,3.1-3.2C334.3,37.3,335.7,38.8,335.7,40.5z M328.7,40.5\
                c0,2.1,1.7,3.9,3.9,3.9c2.1,0,3.9-1.7,3.9-3.9c0-2.2-1.7-3.9-3.9-3.9C330.5,36.6,328.7,38.4,328.7,40.5z')
                path(d='M34.5,44.4H12.7C12.7,44.7,0,43.3,0,25.5C0,7.6,12.7,8.2,12.7,8.2l21.7-0.1c0,0,2.6,0.2,2.6,3.6c0,4-2.6,4-2.6,4h-20\
                c0,0-6-0.3-5.9,8.8c0,5.6,0,2.9,0,2.9s0.7,8.9,6.4,9.3h19.6c0,0,2.5,0.1,2.5,3.9C37,44.4,34.5,44.4,34.5,44.4z')
                path(d='M48.7,15.6h27.9c2,0,1.5,1.8,1.5,1.8s0,13.2,0,16.8c0,2.5-3.1,2.5-3.1,2.5s-14.5,0-20.7,0c-4.6,0-4.6-4.2-4.6-4.2\
                c0-4.6,4.6-4.2,4.6-4.2h19.1c0,0,2.4,0,2.4-3.7c0-3.9-2.4-4-2.4-4s-15.2,0-23.3,0c-10.8,0.1-10.8,11.8-10.8,11.8\
                c0,11.9,10.7,12.1,10.7,12.1s28.2,0,33,0c4.6,0,4.3-4.6,4.3-4.6s0-18.5,0-25.3c0-6.8-5.9-6.4-5.9-6.4l-32.9,0\
                c0,0-2.9,0.1-2.9,3.7C45.7,15.7,48.7,15.6,48.7,15.6z')
                path(d='M94,11.2c0,0,0.3-3.1,4.6-3.1c4.3,0,4.6,3,4.6,3v29.6c0,0,0,3.6-4.4,3.6c-4.6,0-4.7-3.6-4.7-3.6V11.2z')
                path(d='M105.3,10c0-0.2,0.2-0.3,0.2-0.3s3.9-1.7,10.4-1.7c6.5,0,14.2,2.1,14.4,12c0,0-0.2,5.2-1.7,7c0,0-0.1,0.2-0.2,0.2\
                c-0.6-0.1-5.4-1.6-7.2-2.5c-0.2-0.1-0.1-0.3-0.1-0.3c0,0,1.9-4.6-0.7-7.9c-2.5-3.2-11.5-2.4-13.3-1.4c0,0-0.2,0.1-0.3-0.2\
                C106.4,14.5,105.3,10.7,105.3,10C105.3,10,105.3,10.7,105.3,10z')
                path(d='M136.1,3.1c0,0,0-3.1,4.7-3.1c4.5,0,4.6,3.1,4.6,3.1v38.1c0,0-0.1,3.2-4.6,3.2c-4.7,0-4.7-3.2-4.7-3.2V3.1z')
                path(d='M146.9,10.6c0,0-0.1-0.1,0.6-0.5c0,0,2-1.5,10.8-1.9c8.9,0,17.5,3,17.5,16.9c0,0-0.7,10.2-3.9,17.9\
                c0,0-0.2,1.1-1.5,1.1c-1.3,0-7.5,0-7.5,0s-1.8,0.4-1.1-1.2c0.7-1.6,4.8-11.2,4.8-16.6c0-5.2-1.5-11.2-11.8-11.2\
                c0,0-3.5,0-6,1.2c0,0-1.1,0.6-1.3-0.4C147.2,15.1,146.7,11.9,146.9,10.6C146.9,10.6,146.7,11.9,146.9,10.6z')
                path(d='M281,3.5c0,0,0-3.5,4.1-3.5c4,0,4.1,3.5,4.1,3.5v4.7h10.5c0,0,2.4,0.1,2.4,3.7c0,3.6-2.3,3.7-2.3,3.7h-10.6v25.1\
                c0,0-0.1,3.7-4.1,3.7c-4,0-4.1-3.7-4.1-3.7v-25h-4.5c0,0-2.3,0-2.3-3.8c0-3.7,2.2-3.8,2.2-3.8l4.6,0.1V3.5z')
                path(d='M314.6,3.5c0,0,0-3.5,4.1-3.5c4,0,4.1,3.5,4.1,3.5v4.6h11.5c0,0,3.2-0.1,3.2,3.8c0,3.7-3.1,3.8-3.1,3.8h-11.6v25.1\
                c0,0-0.1,3.7-4.1,3.7c-4,0-4.1-3.7-4.1-3.7v-25h-4.5c0,0-2.3-0.1-2.3-3.8c0-3.7,2.2-3.8,2.2-3.8l4.6,0.1V3.5z')
                path(d='M233.6,11.2c0,0,0.3-3.1,4.6-3.1c4.3,0,4.6,3,4.6,3v29.6c0,0,0,3.6-4.4,3.6c-4.6,0-4.7-3.6-4.7-3.6V11.2z')
                path(d='M244.9,10c0-0.2,0.2-0.3,0.2-0.3s3.9-1.7,10.4-1.7c6.5,0,14.2,2.1,14.4,12c0,0-0.2,5.2-1.7,7c0,0-0.1,0.2-0.2,0.2\
                c-0.6-0.1-5.4-1.6-7.2-2.5c-0.2-0.1-0.1-0.3-0.1-0.3c0,0,1.9-4.6-0.7-7.9c-2.5-3.2-11.5-2.4-13.3-1.4c0,0-0.2,0.1-0.3-0.2\
                C246,14.5,244.9,10.7,244.9,10C244.9,10,244.9,10.7,244.9,10z')
                path(d='M188.2,15.6h27.9c2,0,1.5,1.8,1.5,1.8s0,13.2,0,16.8c0,2.5-3.1,2.5-3.1,2.5s-14.5,0-20.7,0c-4.6,0-4.6-4.2-4.6-4.2\
                c0-4.6,4.6-4.2,4.6-4.2H213c0,0,2.4,0,2.4-3.7c0-3.9-2.4-4-2.4-4s-15.2,0-23.3,0c-10.8,0.1-10.8,11.8-10.8,11.8\
                c0,11.7,10.7,12,10.7,12s28.1,0,33,0c4.6,0,4.4-4.6,4.4-4.6s0-18.5,0-25.3c0-6.8-5.9-6.4-5.9-6.4l-32.9,0c0,0-2.9,0.1-2.9,3.7\
                C185.2,15.7,188.2,15.6,188.2,15.6z')
        .Demo03
            .row
                .onlineUser.col-xl-4
                    ul.OnlineUserList
                        h4 線上名單
                .form-group.UserAdd.col-xl-4
                    label(for="exampleInputEmail1") YourName
                    input.form-control.nickBox(type="email", placeholder="Name")
                    a.Btn_addroom AddRoom
                .ChatRoom.col-xl-6
                    ul.Msgcontainer
                    .sendMsg.row   
                        input#msg_content.col-xs-5.msg_content.col-lg-11(type='text', name='msg_content', autocomplete='off', placeholder='Type your message...', autofocus='')
                        //- .Btn_sendMsg Send
                        a.Btn_sendMsg
                            i.icon.fas.fa-location-arrow(style='font-size:30px')
                        a.Btn_like
                            i.icon.fas.fa-thumbs-up(style='font-size:30px')


            



    script(src='/socket.io/socket.io.js')
    script(src='/js/Demo03.js')
    link(rel='stylesheet', href='/build/css/Demo03.css')

