extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    link(href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Cinzel|Miss+Fajardose|Cormorant+Upright|Orbitron', rel='stylesheet')
    .container-fulid.melaApp
        .page1
            h1 melaleuca
            .item.borderYtoX(name='list')
                a(v-on:click='money') 獎金
                a(v-on:click='team') Team
                a(v-if="page!='Money'",v-on:click='one') 一月
                a(v-if="page!='Money'",v-on:click='two') 二月
                a(v-if="page!='Money'",v-on:click='three') 三月
                a(v-if="page!='Money'",v-on:click='four') 四月
                a(v-if="page!='Money'",v-on:click='five') 五月
            .listStart(v-if="page=='Start'") 
                h1 初始
            transition.listmoney(v-if="page=='Money'",name='money')
                table.rwd-table.table-hover
                    tr
                        th 階銜
                        th 所需組織點數
                        th 快速進階獎金
                        th 親推輔導獎金
                        th 焦點輔導獎金
                    tr(v-for='value in tabledata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
                    tr.total(v-for='value in totaldata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
            transition.listOne(v-if="page!='Money'",name='team') 
                .circle
                    span.dot.no1(v-if="page=='Team' || page=='One' || page=='Two'|| page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      h1 正
                    span.dot.no2(v-if="page=='Team' || page=='One' || page=='Two'|| page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      h1 副
                    span.dot.no3(v-if="page=='Team' || page=='One' || page=='Two'|| page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      p 10愛用者
                    span.dot.no4(v-if="page=='Team' || page=='One' || page=='Two'|| page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      p 10愛用者
                    span.dot.no5(v-if="page=='Team' || page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      p.TwoP 1經營者
                    span.dot.no6(v-if="page=='Team' || page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'")
                      p.TwoP 1經營者
                    span.dot.no7(v-if="page=='Team' ||page=='Three'|| page=='Four'|| page=='Five'")
                      p 1愛用者
                    span.dot.no8(v-if="page=='Team' ||page=='Three'|| page=='Four'|| page=='Five'")
                      p 1愛用者
                    span.dot.no9(v-if="page=='Team' || page=='Four'|| page=='Five'")
                      p 1經營者
                    span.dot.no10(v-if="page=='Team' || page=='Four'|| page=='Five'")
                      p 1經營者
                    span.dot.no11(v-if="page=='Team' || page=='Five'")
                      p 1愛用者
                    span.dot.no12(v-if="page=='Team' || page=='Five'")
                      p 1愛用者
            .OneMonth(v-if="page=='Team' || page=='One' || page=='Two'|| page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'",v-on:click='one')
                h1 One
                p 找尋1位適合的副手(各找10位愛用者)
            .TwoMonth(v-if="page=='Team' || page=='Two'|| page=='Three'|| page=='Four'|| page=='Five'",v-on:click='two')
                h1 Two
                p 與副手各找1位經營者(跟你第一個月做一模一樣的事情)
            .ThreeMonth(v-if="page=='Team' ||page=='Three'|| page=='Four'|| page=='Five'",v-on:click='three')
                h1 Three
                p 與副手各找1位愛用者(輔佐你團隊的2位經營者)
            .FourMonth(v-if="page=='Team' || page=='Four'|| page=='Five'",v-on:click='four')
                h1 Four
                p 與副手各找1位經營者(持續輔佐你團隊的2位經營者)
            .FiveMonth(v-if="page=='Team' || page=='Five'",v-on:click='five')
                h1 Five
                p 與副手各找1位愛用者(持續輔佐你團隊的2位經營者)
                    //- span.dot.no3
                    //- span.dot.no4
                    //- span.dot.no5
                    //- span.dot.no6


            //- img.moneyImg(src='/images/Steve/money.jpg')
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //-     span.dot
        //- .page2
        //- .page3
        //- .page4


            



    script(src='https://d3js.org/d3.v3.min.js')
    script(src='/build/js/Demo05.js')
    link(rel='stylesheet', href='/build/css/Demo05.css')

