extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block footer
block content
    h1 Demo03-聊天
    .container
        .Demo03
            .send.row
                .form-inline.nickboxsenddiv(v-show='sendNamechk')
                    label YourName:{{OnlineUser}}
                    input.nickBox.form-control(type='text') 
                    button.btn.btn-success(type='button',v-on:click='nickboxsend') Send
            .Start
                .YourName.form-inline(v-show='!sendNamechk') ID:{{yourName}} 
                    input.nickBox.form-control(type='text') 
                    button.btn.btn-success(type='button',v-on:click='nickboxsend') Send
                
            .OnlineUser(v-for='value in OnlineUser') 
                div Online:{{value}}






  

    script(src='/socket.io/socket.io.js')
    script(src='/js/Demo03.js')
    link(rel='stylesheet', href='/stylesheets/Demo03.css')

