extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block footer
block content
    h1 Demo03-聊天
    .container
        .Demo03
            .form-group.UserAdd
                label(for="exampleInputEmail1") YourName
                input.form-control.nickBox(type="email", placeholder="Name")
                a.Btn_addroom AddRoom
            .OnlineUser
            .ChatRoom
                h1 Welcome Steve Chatroom
                ul.Msgcontainer
                .sendMsg.row   
                    input#msg_content.msg_content.col-lg-9(type='text', name='msg_content', autocomplete='off', placeholder='Type your message...', autofocus='')
                    .Btn_sendMsg Send

            







  

    script(src='/socket.io/socket.io.js')
    script(src='/js/Demo03.js')
    link(rel='stylesheet', href='/stylesheets/Demo03.css')

