extends ../common/layout

block append CV_Nav
block modal
block buttonPage
block content
    h1 Demo02爬蟲練習
    //- p= NbaData
    script(src='/js/Demo02.js')
    link(rel='stylesheet', href='/stylesheets/Demo02.css')

