extends ../common/layout

block append CV_Nav
block append modal
block buttonPage
block content
    h1 Demo02爬蟲練習
    .container-fluid
      ul.Demo02-2
        .iconDate.col-ms-12.col-xl-4
          a(href='#',data-toggle="tooltip" ,title='Previous Day',v-on:click='LessDate')
            i.icon.fas.fa-angle-left(style='font-size:30px')  
          h4.NBAdate {{Date.yyyy}}年{{Date.mm}}月{{Date.dd}}
          a(href='#',data-toggle="tooltip" ,title='Next Day',v-on:click='AddDate')
            i.icon.fas.fa-angle-right(style='font-size:30px')
          h4  共有 {{object.length}} 場比賽  
          h4(v-if='object[0].playoffs!=null') Playoffs
          h4(v-else) Regular season
        li.Nba.col-sm-12.col-xl-5(v-for='value in object') 
          h3(v-if="value.status=='1'") 尚未開打  
          h3(v-else-if="value.status=='2'") Live  
          h3(v-else) 已結束 
          .Game 
            a.hTeam.col-xl-3 主場 : {{value.hTeam.name}} 
            a.hScore.col-xl-3  {{value.hTeam.score=="" ? 0 :value.hTeam.score}}
            br
            a.vTeam.col-xl-12 客場 : {{value.vTeam.name}}
            a.vScore.col-xl-3  {{value.vTeam.score=="" ? 0 :value.vTeam.score}}
      


    script(src='/js/Demo02.js')
    link(rel='stylesheet', href='/stylesheets/Demo02.css')

