extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    .container-fulid.melaApp
        .page1
            .filterBackground(v-if="showBox!='Nopage'")
            h1 melaleuca
            .item.borderYtoX(name='list')
                a(v-on:click='money') 獎金
                a(v-on:click='team') Team
            .listStart(v-if="page=='Start'") 
                h1 初始
            transition.listmoney(v-if="page=='Money'",name='money')
                table.rwd-table.table-hover
                    tr
                        th 階銜
                        th 所需組織點數
                        th 快速進階獎金
                        th 親推輔導獎金
                        th 焦點輔導獎金
                    tr(v-for='value in tabledata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
                    tr.total(v-for='value in totaldata')
                        td {{value[0]}}
                        td {{value[1]}}
                        td {{value[2]}}
                        td {{value[3]}}
                        td {{value[4]}}
            transition.listOne(v-if="page!='Money'",name='team') 
                .simpsons
                    //- i.icon.fas.fa-check(style="color:#ffffff;font-size:30px;")
                    .first(v-if="page=='Team' || page=='One'|| page=='Two'|| page=='Four'")
                      img.s_money1(src='/images/Steve/simpsons_05.png')
                      img.s_money2(src='/images/Steve/simpsons_05.png')
                      img.s_01(src='/images/Steve/simpsons_03.png')
                      img.s_02(src='/images/Steve/simpsons_03.png')
                      img.s_03(src='/images/Steve/simpsons_02.png')
                      img.s_04(src='/images/Steve/simpsons_02.png')
                      img.s_05(src='/images/Steve/simpsons_02.png')
                      img.s_06(src='/images/Steve/simpsons_02.png')
                      img.s_07(src='/images/Steve/simpsons_02.png')
                      img.s_08(src='/images/Steve/simpsons_02.png')
                      img.s_09(src='/images/Steve/simpsons_02.png')
                      img.s_10(src='/images/Steve/simpsons_02.png')
                      img.s_11(src='/images/Steve/simpsons_02.png')
                      img.s_12(src='/images/Steve/simpsons_02.png')
                      img.s_13(src='/images/Steve/simpsons_02.png')
                      img.s_14(src='/images/Steve/simpsons_02.png')
                      img.s_15(src='/images/Steve/simpsons_02.png')
                      img.s_16(src='/images/Steve/simpsons_02.png')
                      img.s_17(src='/images/Steve/simpsons_02.png')
                      img.s_18(src='/images/Steve/simpsons_02.png')
                      img.s_19(src='/images/Steve/simpsons_02.png')
                      img.s_20(src='/images/Steve/simpsons_02.png')
                      img.s_21(src='/images/Steve/simpsons_02.png')
                      img.s_22(src='/images/Steve/simpsons_02.png')
                    .two(v-if="page=='Team' || page=='Two' || page=='Four'")
                        //- h1 Know How
                        img.s_02_01(src='/images/Steve/simpsons_01.png')
                        img.s_02_02(src='/images/Steve/simpsons_01.png')
                    .four(v-if="page=='Team' || page=='four'")
                        img.s_04_01(src='/images/Steve/simpsons_04.png')
                        img.s_04_02(src='/images/Steve/simpsons_04.png')
                    //- img(src='/images/Steve/simpsons_02.png')
                    .iconDiv
                        a(v-on:click="showBoxP1Click")
                            i.icon.fas.fa-calendar-check
                    .TextBox(v-if="showBox=='P1'")
                        .row1
                            img.boss(src='/images/Steve/boss.png')
                            .Textbody
                                h2.firstText Fuck You direct selling Dog
                                h2.twoText 接收任務嗎?直銷狗!
                            .name.col-2
                                h2 Boss
                        .row3
                            button.btn-lg.btn-danger(v-on:click="cancelBox") No
                            button.btn-lg.btn-warning(v-on:click="NextBox") Yes
                    .TextBox(v-if="showBox=='P2'")
                        .col-sm-12.text-right
                           a(v-on:click="cancelBox")
                                i.fas.fa-window-close
                        .col-sm-3
                            input#box-1(type='checkbox')
                            label(for='box-1') 20愛用者
                            input#box-2(type='checkbox')
                            label(for='box-2') 1號經營者
                            input#box-3(type='checkbox')
                            label(for='box-3') 2號經營者
                            input#box-4(type='checkbox')
                            label(for='box-4') 3號經營者
                            input#box-5(type='checkbox')
                            label(for='box-5') 4號經營者
                        .col
                            h3.TotalMoney $30,000
            .OneMonth(v-if="page!='Money'",v-on:click='one')
                h1 One
                p 找尋1位適合的副手(各找10位愛用者)
            .TwoMonth(v-if="page!='Money'",v-on:click='two')
                h1 Two
                p 與副手各找1位經營者(跟你第一個月做一模一樣的事情)
            .ThreeMonth(v-if="page!='Money' ",v-on:click='three')
                h1 Three
                p 與副手各找1位愛用者(輔佐你團隊的2位經營者)
            .FourMonth(v-if="page!='Money' ",v-on:click='four')
                h1 Four
                p 與副手各找1位經營者(持續輔佐你團隊的2位經營者)
            .FiveMonth(v-if="page!='Money'",v-on:click='five')
                h1 Five
                p 與副手各找1位愛用者(持續輔佐你團隊的2位經營者)


            



    script(src='https://d3js.org/d3.v3.min.js')
    script(src='/build/js/Demo05.js')
    link(rel='stylesheet', href='/build/css/Demo05.css')

