extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch', rel='stylesheet')
    .container-fulid
        .d-flex.flex-row.justify-content-center.title
            .p2
                i.fab.fa-instagram.fa-2x.cursor
            .p2
                h2.title Instagram
            .p2.search.form-group.has-feedback
                span.searchicon
                    i.fas.fa-search
                input.form-control.Searchinput(placeholder="Search...")
            .p2
                i.fas.fa-globe-americas.fa-2x.cursor.righticon
            .p2
                i.fas.fa-heart.fa-2x.cursor.righticon
            .p2
                i.fas.fa-user.fa-2x.cursor.righticon





            



    script(src='/build/js/Steve01.js')
    link(rel='stylesheet', href='/build/css/Steve01.css')

