extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch', rel='stylesheet')
    .container-fulid
        .topTitle
            i.fab.fa-instagram.fa-3x.cursor
            h2.title Instagram
            .search.form-group.has-feedback
                span.searchicon
                    i.fas.fa-search
                input.form-control.Searchinput(placeholder="Search...")
            i.fas.fa-globe-americas.fa-2x.cursor.righticon
            i.fas.fa-heart.fa-2x.cursor.righticon
            i.fas.fa-user.fa-2x.cursor.righticon
        //- .d-flex.flex-row.justify-content-center.title
        //-     .p2
        //-         i.fab.fa-instagram.fa-2x.cursor
        //-     .p2
        //-         h2.title Instagram
        //-     .p2.search.form-group.has-feedback
        //-         span.searchicon
        //-             i.fas.fa-search
        //-         input.form-control.Searchinput(placeholder="Search...")
        //-     .p2
        //-         i.fas.fa-globe-americas.fa-2x.cursor.righticon
        //-     .p2
        //-         i.fas.fa-heart.fa-2x.cursor.righticon
        //-     .p2
        //-         i.fas.fa-user.fa-2x.cursor.righticon
        //- .content    
        //-     .Logoimage 
        //-         img.image_1.rounded-circle(src='/images/Steve/IMG_01.JPG')
        //-         h2 SteveChuang   
        //-         .editbutton.cursor Edit Profile
        //-         i.fas.fa-cogs.fa-2x.cursor.righticon
                    
        //-         .flex-2
        //-             .p2
        //-                h5 莊承翰 | SteveChuang

        .imgcontent
            .imglist
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
                .image(style="background-image:url('https://instagram.ftpe6-1.fna.fbcdn.net/vp/ab5c63a9a25f96d92265115095b2792e/5C2B3D6E/t51.2885-15/sh0.08/e35/p640x640/41013063_177520023124937_3884856341402246341_n.jpg')")
            


            



    script(src='/build/js/Steve01.js')
    link(rel='stylesheet', href='/build/css/Steve01.css')

