extends ../common/layout

block CV_Nav
block modal
block buttonPage
block footer
block content
    link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch', rel='stylesheet')
    .container-fulid
        .topTitle
            i.fab.fa-instagram.fa-3x.cursor
            h2.title Instagram
            .search.form-group.has-feedback
                span.searchicon
                    i.fas.fa-search
                input.form-control.Searchinput(placeholder="Search...")
            i.fas.fa-globe-americas.fa-2x.cursor.righticon
            i.fas.fa-heart.fa-2x.cursor.righticon
            i.fas.fa-user.fa-2x.cursor.righticon
        .imgcontent
            .imglist
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
                .image(style="background-image:url('/images/Steve/steveImage.jpg')")
            


            



    script(src='/build/js/Steve01.js')
    link(rel='stylesheet', href='/build/css/Steve01.css')

