extends common/layout

block append buttonPage
block append modal
block append CV_Nav
block append footer
block content
  style.cp-pen-styles.
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
  .container.steveCV 
    h1 SteveChuang JOB CV 
    .row
      .col-sm-6.text-center.SteveImage
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
        img.img02(src='/images/Steve/steveImage.jpg')
      .col-sm-6
        .text-center
          h3 Taiwan - Taipei   
          h3 SteveChuang 
          h4 FULL Stack WEB designer Junior
        .Copyemail(href='#',data-toggle="tooltip" ,data-placement="top",title='複製信箱')
          a.email a0911558945@gmail.com 
        .text-left
          a.btn_icon.Sendemail(href='#',data-toggle="tooltip" ,data-placement="bottom",title='發信給我')
            i.icon.far.fa-envelope
          a.btn_icon(href='https://www.facebook.com/profile.php?id=100000189117019',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Facebook')
            i.icon.fab.fa-facebook-f
          a.btn_icon(href='https://www.instagram.com/chenhan20/',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Instagram')
            i.icon.fab.fa-instagram
          a.btn_icon(href='https://www.linkedin.com/in/%E6%89%BF%E7%BF%B0-%E8%8E%8A-4159b7139/',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Linkedin')
            i.icon.fab.fa-linkedin-in
          a.btn_icon(href='https://github.com/chenhan20',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Github')
            i.icon.fab.fa-github
        a 此為個人網站範例(使用bootstrap4、nodejs、PUG)
        hr
        div.text-center.col-12
          a 我是Steve-莊承翰，2016年畢業於致理科大資管系，目前任職於英國凱萊擔任後端工程師擅長網頁撰寫與後端開發
            |對網頁目前有一定的熱忱所以在下班之餘習慣開發一些自己喜愛的東西，目標是用有興趣的事物當作工作。
    .container 
      .col-sm-6.col-xs-12
        hr
        h2 主要工作技能(較精通)
        h3 後端
        h4 Java(Struts2、Spring、hibernate、SpringMVC、JPA)
        h3 前端
        h4 javascript(jQuery)
        h4 Bootstrap
        h3 DB
        h4 Oracle、mysql
      .col-sm-6.col-xs-12
        hr
        h2 下班之餘接觸技能
        h4 網頁前端
        h4 Bootstrap、VueJs、jquery
        h4 網頁後端
        h4 Nodejs、PUG
        h4 打包
        h4 Gulp(babel、sass)
        h4 版本控制
        h4 (svn、git)
    .container.row3.row_experience
      .col
        hr
        .serve.row
          .col-6.serveText
            h2 目前任職於
            h2 凱萊擔任後端工程師
            h2 已經{{ PROJECT.CARELINE.startDate , PROJECT.CARELINE.endDate | calculationDayFilter }}天囉~希望可以維持很久呢!
          .col-6
            a(href="https://www.careline.com.tw/" target="_blank")
              img.serveLogo(src='/images/logo/careline_logoText.png')
        hr
        .row
          .col-4
            h2 經歷 
          .col-8
            h2 年資:{{totalSeniority}}
        .row.RowDate.CARELINE 
          .logo-img
            a(href="https://www.careline.com.tw/" target="_blank")
              img.logo-careline(src='/images/logo/careline_logo.png')
          .date.col-sm-3 {{PROJECT.CARELINE.friendlyname}}
            h5 {{ PROJECT.CARELINE.startDate , PROJECT.CARELINE.endDate | dateFilter }} 
            .yearText {{ PROJECT.CARELINE.startDate , PROJECT.CARELINE.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.CARELINE.contentText}}
        .row.RowDate.WISTRON
          .logo-img
            a(href="https://www.wistronits.com/tw/" target="_blank")
              img.logo-wistron(src='/images/logo/wistron_logo.svg')
          .date.col-sm-3 {{PROJECT.WISTRON.friendlyname}}
            h5 {{ PROJECT.WISTRON.startDate , PROJECT.WISTRON.endDate | dateFilter }} 
            .yearText {{ PROJECT.WISTRON.startDate , PROJECT.WISTRON.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.WISTRON.contentText}}
        .row.RowDate.MARYA_TWM_MAINTAIN_2
          .logo-img
            a(href="http://www.marya.com.tw/index.html?Home" target="_blank")
              img.logo-marya(src='/images/logo/marya_logo.png')
          .date.col-sm-3 {{PROJECT.MARYA_TWM_MAINTAIN_2.friendlyname}}
            h5 {{ PROJECT.MARYA_TWM_MAINTAIN_2.startDate , PROJECT.MARYA_TWM_MAINTAIN_2.endDate | dateFilter }} 
            .yearText {{ PROJECT.MARYA_TWM_MAINTAIN_2.startDate , PROJECT.MARYA_TWM_MAINTAIN_2.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.MARYA_TWM_MAINTAIN_2.contentText}}
        .row.RowDate.MARYA_TWM_STRATUS
          .logo-img
            a(href="http://www.marya.com.tw/index.html?Home" target="_blank")
              img.logo-marya(src='/images/logo/marya_logo.png')
          .date.col-sm-3 {{PROJECT.MARYA_TWM_STRATUS.friendlyname}}
            h5 {{ PROJECT.MARYA_TWM_STRATUS.startDate , PROJECT.MARYA_TWM_STRATUS.endDate | dateFilter }} 
            .yearText {{ PROJECT.MARYA_TWM_STRATUS.startDate , PROJECT.MARYA_TWM_STRATUS.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.MARYA_TWM_STRATUS.contentText}}
        .row.RowDate.MARYA_TWM_MAINTAIN_1
          .logo-img
            a(href="http://www.marya.com.tw/index.html?Home" target="_blank")
              img.logo-marya(src='/images/logo/marya_logo.png')
          .date.col-sm-3 {{PROJECT.MARYA_TWM_MAINTAIN_1.friendlyname}}
            h5 {{ PROJECT.MARYA_TWM_MAINTAIN_1.startDate , PROJECT.MARYA_TWM_MAINTAIN_1.endDate | dateFilter }} 
            .yearText {{ PROJECT.MARYA_TWM_MAINTAIN_1.startDate , PROJECT.MARYA_TWM_MAINTAIN_1.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.MARYA_TWM_MAINTAIN_1.contentText}}
        .row.RowDate.ARMY_ONLINE
          .logo-img
            a(href="https://army.mnd.gov.tw/Pages/TroopList.aspx" target="_blank")
              img.logo-army(src='/images/logo/army_logo.png')
          .date.col-sm-3 {{PROJECT.ARMY_ONLINE.friendlyname}}
            h5 {{ PROJECT.ARMY_ONLINE.startDate , PROJECT.ARMY_ONLINE.endDate | dateFilter }} 
            .yearText {{ PROJECT.ARMY_ONLINE.startDate , PROJECT.ARMY_ONLINE.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.ARMY_ONLINE.contentText}}
        .row.RowDate.MARYA_TWM_ADD_NUM
          .logo-img
            a(href="http://www.marya.com.tw/index.html?Home" target="_blank")
              img.logo-marya(src='/images/logo/marya_logo.png')
          .date.col-sm-3 {{PROJECT.MARYA_TWM_ADD_NUM.friendlyname}}
            h5 {{ PROJECT.MARYA_TWM_ADD_NUM.startDate , PROJECT.MARYA_TWM_ADD_NUM.endDate | dateFilter }} 
            .yearText {{ PROJECT.MARYA_TWM_ADD_NUM.startDate , PROJECT.MARYA_TWM_ADD_NUM.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.MARYA_TWM_ADD_NUM.contentText}}
        .row.RowDate.MARYA_TWM_MONEY_COMMISSION
          .logo-img
            a(href="http://www.marya.com.tw/index.html?Home" target="_blank")
              img.logo-marya(src='/images/logo/marya_logo.png')
          .date.col-sm-3 {{PROJECT.MARYA_TWM_MONEY_COMMISSION.friendlyname}}
            h5 {{ PROJECT.MARYA_TWM_MONEY_COMMISSION.startDate , PROJECT.MARYA_TWM_MONEY_COMMISSION.endDate | dateFilter }} 
            .yearText {{ PROJECT.MARYA_TWM_MONEY_COMMISSION.startDate , PROJECT.MARYA_TWM_MONEY_COMMISSION.endDate | calculationMonthDayFilter }} 
          .col-sm-8
            a {{PROJECT.MARYA_TWM_MONEY_COMMISSION.contentText}}
    .container
      .row3
        .col-sm-4
          h2 小作品
          a.Demo(href='/SteveCard/Demo02') NBA比賽資訊(大致完成)
          a.Demo(href='/SteveCard/Demo03') 聊天室(完成)
          a.Demo(href='/SteveCard/Demo04') 車廠首頁展示練習(spa)
          a.Demo(href='/SteveCard/Demo01') 撲克牌Demo(未完成)
          a.Demo(href='/SteveCard/Steve01') 頁面練習(前端個人化網頁美化)
          a.Demo(href='/SteveCard/stock01') 股票資訊練習
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
        //- .col
    script(src='/build/js/Stevecard.js')

  


