extends layout

block content
  link(rel='stylesheet', href='/stylesheets/SteveChuang.css')
  style.cp-pen-styles.
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
  .container 
    h1 SteveChuang Curriculum vitae 01
    .row
      .col
        img.image_1.rounded-circle(src='/images/Steve/IMG_01.JPG')
      .col
        h3 SteveChuang
        a(href='mailto:a0911558945@gmail.com') a0911558945@gmail.com 
        a ｜ Taipei ｜
        br
        a 此為個人網站範例
        hr
        a ＂WEB designer 菜鳥＂
        f
        br
        a 我是Steve-莊承翰，2016年畢業於致理科大資管系，
        br
        a 目前任職於瑪亞資訊擔任軟體工程師擅長網頁撰寫與後端開發。
    .container 
      .col-sm-6
        hr
        h2 擅長工具
        h4 Nodejs
        h4 Nodejs
        h4 Nodejs
        h4 Nodejs
        h4 Nodejs
      .col-sm-6
        hr
        h2 工作技能
        h4 Java
        h4 Oracle PL/SQL
        h4 C#
    .container.row3
      .col-sm-12
        h2 經歷
        h3 123
        h3 123
        h3 123
        h3 123
        h3 123
        h3 123
        h3 123
        h3 123