extends layout

block content
  link(rel='stylesheet', href='/stylesheets/SteveCard.css')
  style.cp-pen-styles.
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
  .container 
    h1 SteveChuang Curriculum vitae 01
    .row
      .col
        img.image_1.rounded-circle(src='/images/Steve/IMG_01.JPG')
      .col
        h3 SteveChuang
        a(href='mailto:a0911558945@gmail.com') a0911558945@gmail.com 
        a ｜ Taipei ｜
        br
        a 此為個人網站範例(使用bootstrap4、nodejs)
        hr
        a ＂WEB designer 菜鳥＂
        f
        br
        a 我是Steve-莊承翰，2016年畢業於致理科大資管系，
        br
        a 目前任職於瑪亞資訊擔任軟體工程師擅長網頁撰寫與後端開發。
    .container 
      .col-sm-6
        hr
        h2 工作技能
        h4 JAVA(Struts、Spring、hibernate、SpringMVC)
        h4 Oracle PL/SQL
        h4 C#
        h4 git
      .col-sm-6
        hr
        h2 接觸技能
        h4 HTML(前端-Bootstrap、VueJs、jquery)
        h4 HTML(後端-Node.js)
    .container.row3
      .col-sm-12
        h2 經歷
        .row
          .date.col-sm-3.h5 2017/01/26~Now
          .col-sm-6.p POS
        .row
          .date.col-sm-3.h5 2017/10/12~2017/01/26
          .col-sm-6.p 當兵
        .row
          .date.col-sm-3.h5 2016/04/01~2017/10/12
          .col-sm-6.p 轉換到POS系統(Java Team)
        .row
          .date.col-sm-3.h5 2015/07/01~2016/04/01
          .col-sm-6.p 開始於瑪亞資訊實習，駐點於某電信龍頭的佣金Team123213123123