extends common/layout

block append buttonPage
block append modal
block append CV_Nav
block append footer
block content
  style.cp-pen-styles.
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
  .container 
    h1 SteveChuang JOB CV 
    .row
      .col-sm-6.text-center.SteveImage
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
        img.img02(src='https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-9/27658121_2055804471102503_1667123884548831887_n.jpg?_nc_cat=109&oh=9afb73e976e2a0239ecb5ac21568c43a&oe=5C45DF16')
      .col-sm-6
        .text-center
          h3 Taiwan - Taipei   
          h3 SteveChuang 
          h4 FULL Stack WEB designer Junior
        .Copyemail(href='#',data-toggle="tooltip" ,data-placement="top",title='複製信箱')
          a.email a0911558945@gmail.com 
        .text-left
          a.btn_icon.Sendemail(href='#',data-toggle="tooltip" ,data-placement="bottom",title='發信給我')
            i.icon.far.fa-envelope
          a.btn_icon(href='https://www.facebook.com/profile.php?id=100000189117019',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Facebook')
            i.icon.fab.fa-facebook-f
          a.btn_icon(href='https://www.instagram.com/chenhan20/',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Instagram')
            i.icon.fab.fa-instagram
          a.btn_icon(href='https://www.linkedin.com/in/%E6%89%BF%E7%BF%B0-%E8%8E%8A-4159b7139/',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Linkedin')
            i.icon.fab.fa-linkedin-in
          a.btn_icon(href='https://github.com/chenhan20',data-toggle="tooltip" ,data-placement="bottom",target="_blank",title='Github')
            i.icon.fab.fa-github
        a 此為個人網站範例(使用bootstrap4、nodejs、PUG)
        hr
        div.text-center.col-12
          a 我是Steve-莊承翰，2016年畢業於致理科大資管系，目前任職於緯創軟體擔任軟體工程師擅長網頁撰寫與後端開發
            |對網頁目前有一定的熱忱所以在下班之餘習慣開發一些自己喜愛的東西，目標是用有興趣的事物當作工作。
    .container 
      .col-sm-6.col-xs-12
        hr
        h2 主要工作技能(較精通)
        h3 後端
        h4 Java(Struts2、Spring、hibernate、SpringMVC、JPA)
        h3 前端
        h4 javascript(jQuery)
        h4 Bootsrap
        h3 DB
        h4 Oracle
      .col-sm-6.col-xs-12
        hr
        h2 下班之餘接觸技能
        h4 網頁前端
        h4 Bootstrap、VueJs、jquery
        h4 網頁後端
        h4 Nodejs、PUG
        h4 打包
        h4 Gulp(babel、sass)
        h4 版本控制
        h4 (svn、git)
    .container.row3.row_experience
      .col
        hr
        h2 經歷
        .row.RowDate
          .date.col-sm-3.h4 誠品後台開發案 
            h5 2018/05~Now 
          .col-sm-8
            a 開發誠品後台系統(關貿合作)
              | 全端開發 後端使用(Java) - 前端使用(jQuery、Bootstrap、javascript)
              | 從靜態頁面撰寫到專案開發、專案Sit、Uat都有經歷，這次的專案讓我學到了從專案初期
              | 靜態頁面撰寫、需求訪談、程式底層撰寫
        .row.RowDate
          .date.col-sm-3.h4 POS維運專案 
            h5 2017/11~2018/04 
          .col-sm-8
            a 維運Pos系統與開發新功能，重大開發專案為:
              | 與悠遊卡公司Ftp對接傳遞檔案、統一立即儲值專案(傳遞xml並改寫原先儲值專案)
        .row.RowDate
          .date.col-sm-3.h4 Struts下架專案 
            h5 2017/07~2017/11 
          .col-sm-8
            a Struts下架轉換SpringMVC、配合悠遊卡FTP上傳下載
            a 因應Struts經常出現漏洞，故協助轉換為SpringMVC框架
            a 此專案讓我對servlet有更深入的了解，並在主管指導下
            a 第一次做了系統分析(分析新的與舊的優劣)與規劃修改時程表
            a 讓我了解到SA職位也不是出一張嘴就能做得很好的。
        .row.RowDate
          .date.col-sm-3.h4 POS系統維運專案
            h5 2017/02~2017/06
          .col-sm-8
            a 回到POS系統(Struts-Spring-hibernated框架，搭配前端Extjs)
            a 重大專案:POS銷售富邦唯信支付增加付款別、新增倉別(客訴倉、…)
        .row.RowDate
          .date.col-sm-3.h4 國軍ONLINE
            h5 2017/10~2017/01
          a.col-sm-8 當兵
        .row.RowDate
          .date.col-sm-3.h4 POS店點擴碼專案
            h5 2016/04~2017/10
          .col-sm-8
            a 轉換到POS系統-使用Java語言
            a 當時專案為需要新增三碼的店點，故有些程式碼需要修正
            a 例如:substring-只抓兩碼，與做壓力測試(使用JUnit)
            a 與撰寫測試報告，算是對Java有一個基礎的了解。
        .row.RowDate
          .date.col-sm-3.h4 佣金系統維運專案
            h5 2015/07~2016/04
          .col-sm-8
            a 開始於瑪亞資訊實習，駐點某電信業龍頭的佣金Team
            a 當時專案是使用C#與Oracle資料庫，了解各種PL/SQL語法與
            a 資料庫基本觀念要看懂可能有幾百行的PL/SQL並了解裡面排名
            a 、計量等公式，並將他套用到程式裡對當時只有在上課學過
            a mysql的我是一大挑戰。
    .container
      .row3
        .col-sm-4
          h2 小作品
          a.Demo(href='/SteveCard/Demo02') NBA比賽資訊(大致完成)
          a.Demo(href='/SteveCard/Demo03') 聊天室(完成)
          a.Demo(href='/SteveCard/Demo04') 車廠首頁展示練習(spa)
          a.Demo(href='/SteveCard/Demo01') 撲克牌Demo(未完成)
          a.Demo(href='/SteveCard/Steve01') 頁面練習(前端個人化網頁美化)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
          //- a.Demo(href='SteveCard/Demo01') Demo(空)
        //- .col
    script(src='/js/Stevecard.js')

  


