extends common/layout

block append buttonPage
block append modal
block append CV_Nav
block content
  style.cp-pen-styles.
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
  .container 
    h1 SteveChuang JOB CV 
    .row
      .col
        img.image_1.rounded-circle(src='/images/Steve/IMG_01.JPG')
      .col
        h3 SteveChuang
        i.icon.fas.fa-envelope(style='font-size:30px')
        a.email(href='#') a0911558945@gmail.com 
        a ｜ Taipei ｜
        br
        a(href='https://www.facebook.com/profile.php?id=100000189117019',target="_blank")
          i.icon.fab.fa-facebook-square(style='font-size:30px')
        a(href='https://www.instagram.com/chenhan20/',target="_blank")
          i.icon.fab.fa-instagram(style='font-size:30px')
        a(href='https://www.linkedin.com/in/%E6%89%BF%E7%BF%B0-%E8%8E%8A-4159b7139/',target="_blank")
          i.icon.fab.fa-linkedin(style='font-size:30px')
        a(href='https://github.com/chenhan20',target="_blank")
          i.icon.fab.fa-github-alt(style='font-size:30px')
        br
        a 此為個人網站範例(使用bootstrap4、nodejs、PUG)
        hr
        a ＂WEB designer 菜鳥＂
        br
        a 我是Steve-莊承翰，2016年畢業於致理科大資管系，
        br
        a 目前任職於瑪亞資訊擔任軟體工程師擅長網頁撰寫與後端開發。
    .container 
      .col-sm-6
        hr
        h2 主要工作技能
        h4 JAVA
        h5 (Struts2、Spring、hibernate、SpringMVC)
      .col-sm-6
        hr
        h2 接觸技能
        h4 網頁前端—Bootstrap、VueJs、jquery
        h4 網頁後端—Node.js、pug
        h4 版本控制—(svn、git)
        h4 DataBase—(Oracle PL/SQL)
        h4 C#
    .container.row3.row_experience
      .col
        h2 經歷
        .row.RowDate
          .date.col-sm-3.h4 POS維運專案 
            h5 2017/11~2018/04 
          .col-sm-8
            a 維運Pos系統與開發新功能，重大開發專案為:
              | 與悠遊卡公司Ftp對接傳遞檔案、統一立即儲值專案(傳遞xml並改寫原先儲值專案)
        .row.RowDate
          .date.col-sm-3.h4 Struts下架專案 
            h5 2017/07~2017/11 
          .col-sm-8
            a Struts下架轉換SpringMVC、配合悠遊卡FTP上傳下載
            a 因應Struts經常出現漏洞，故協助轉換為SpringMVC框架
            a 此專案讓我對servlet有更深入的了解，並在主管指導下
            a 第一次做了系統分析(分析新的與舊的優劣)與規劃修改時程表
            a 讓我了解到SA一職也不是很好當的。
        .row.RowDate
          .date.col-sm-3.h4 POS系統維運專案
            h5 2017/02~2017/06
          .col-sm-8
            a 回到POS系統(Struts-Spring-hibernated框架，搭配前端Extjs)
            a 重大專案:POS銷售富邦唯信支付增加付款別、新增倉別(客訴倉、…)
        .row.RowDate
          .date.col-sm-3.h4 國軍專案
            h5 2017/10~2017/01
          .col-sm-8.p 當兵
        .row.RowDate
          .date.col-sm-3.h4 POS店點擴碼專案
            h5 2016/04~2017/10
          .col-sm-8
            a 轉換到POS系統-使用Java語言
            a 當時專案為需要新增三碼的店點，故有些程式碼需要修正
            a 例如:substring-只抓兩碼，與做壓力測試(使用JUnit)
            a 與撰寫測試報告，算是對Java有一個基礎的了解。
        .row.RowDate
          .date.col-sm-3.h4 佣金系統維運專案
            h5 2015/07~2016/04
          .col-sm-8
            a 開始於瑪亞資訊實習，駐點某電信業龍頭的佣金Team
            a 當時專案是使用C#與Oracle資料庫，了解各種PL/SQL語法與
            a 資料庫基本觀念要看懂可能有幾百行的PL/SQL並了解裡面排名
            a 、計量等公式，並將他套用到程式裡對當時只有在上課學過
            a mysql的我是一大挑戰。
    .container.row3
      .col-sm-12
        h2 作品
      .col
        a.Demo(href='SteveCard/Demo01') 撲克牌Demo(未完成)
        a.Demo(href='SteveCard/Demo01') Demo(空)
        a.Demo(href='SteveCard/Demo01') Demo(空)
        a.Demo(href='SteveCard/Demo01') Demo(空)
        a.Demo(href='SteveCard/Demo01') Demo(空)
        a.Demo(href='SteveCard/Demo01') Demo(空)
        a.Demo(href='SteveCard/Demo01') Demo(空)
      //- .col
    script(src='/js/Stevecard.js')

  


