
table td {
    border-bottom: 1px solid black;
 };
h4,a{
    font-family: Raleway;
    /* font-size: 18px; */
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 4.5px;
    color: #3f4e64;
    /* vertical-align: baseline;
    text-transform: uppercase;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; */
}

.segment-control{
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    padding: 13px 0;
}

.Vselectitem{
    display: inline-block;
    font-family:Raleway;
    font-size: 12px;
    height: 30px;
    line-height: 26px;
    width: 121px;
    border: 2px solid #006ab4;
    color: #006ab4;
    background-color: #fff;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.Hselectitem{
    display: inline-block;
    font-family: Raleway;
    font-size: 12px;
    height: 30px;
    line-height: 26px;
    width: 121px;
    border: 2px solid #006ab4;
    color: #006ab4;
    background-color: #fff;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


table th{
    color: #fff;
    background-color: #002f50;
    height: 40px;
    font-size: 16px;
    font-family: Raleway;
    text-transform: uppercase;
    width: 180px;
    text-align: left;
    padding: 0 10px;
    text-align: center;
}

table td{
    height: 40px;
    font-size: 14px;
    font-family: Raleway;
    text-transform: uppercase;
    width: 180px;
    text-align: left;
    padding: 0 10px;
    text-align: center;
}
.name{
    text-align: left;
    font-weight:bold;
}
.SelectClass{
    color: #fff;
    background-color: #006ab4;
}
.item{
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    /* font-family: "Roboto-Bold", Helvetica, Arial, sans-serif; */
    float: left;
    cursor: pointer;
}
.item span{
    position: relative;
    display: inline-block;
}
.selectItemBox{
    height: 5px;
    width: 100%;
    background-color: #1d428a;
}
/* .item:hover{
    background-color: #1d428a;

} */

.playersimg{
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
