
.Nba{
    /* border-right:1px black solid; */
    float:left;
    margin: 20px;
    border-bottom: rgb(163, 163, 163) 3px solid;
    list-style-type:none;
}
.Nba:hover{
    border-bottom: black 3px solid;
}
h4,a{
    font-family: Raleway;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 4.5px;
    color: #3f4e64;
}
.team-img{
    width: 50px;
    height: 50px; 
}
.hScore , .vScore{
    text-align:right;

}
.Game{
    cursor: pointer;
}
.NBAdate{
    display: inline;
}
.TeamLogo{
    width:40px;
    height:40px;
    background-size:contain;
    background-repeat: no-repeat;
}

