.send{
    margin-top:10%
}
ul,li{list-style:none;}
.sendmsg{
    border-top: 1px solid #d7d7d7;
}
.Btn_addroom{
    color: #323237;
    border: 2px solid #323237;
    line-height: 30px;
    border-radius: 30px;
    display: inline-block;
    /* font-family: "graphik-bki", "PingFangTC-Semibold", "Noto Sans Bold"; */
    font-size: 18px;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 27px;
    transition: background-color 0.5s;
    margin:10%;
    cursor: pointer;
}
.Btn_addroom:hover{
    background-color: #323237;
    color: #fff;
    text-decoration:none;
    
}


.msg_content{
    display: inline;
    border: none;
    box-shadow: none;
    background-color: #E6C9DC;

}

.msg_content:focus { 
    outline: none !important;
    border-bottom:1px solid black;
    /* box-shadow: 0 0 10px #719ECE; */
    background-color: #EDBFCA;

}
.nickBox{
    display: inline;
    border: none;
    box-shadow: none;
    background-color: #EDBFCA;

}

.nickBox:focus { 
    outline: none !important;
    border-bottom:1px solid black;
    /* box-shadow: 0 0 10px #719ECE; */
    background-color: #E6C9DC;

}


.Msgcontainer{
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    margin-bottom: 30px;
    border-bottom: #000000 solid 1px;
    margin-right: -15px;
    padding: 0px;
    
}



ul.Msgcontainer .other{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 30px;
    float: left;
    color: #4B4F56;
    text-shadow: none;
    background-color: #F1F0F0;
} 
ul.Msgcontainer .LikeMe{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 30px;
    float: right;
    color: #4B4F56;
    text-shadow: none;
    /* background-color: #F1F0F0; */
} 
ul.Msgcontainer .LikeOther{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 30px;
    float: left;
    color: #4B4F56;
    text-shadow: none;
    /* background-color: #F1F0F0; */
} 
ul.Msgcontainer .OtherName{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font: 16px/20px 'Noto Sans', sans-serif;
    /* border-radius: 30px; */
    float: left;
    color: #4B4F56;
    /* text-shadow: none; */
    /* background-color: #F1F0F0; */
} 

ul.Msgcontainer .OtherImage{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    /* font: 16px/20px 'Noto Sans', sans-serif; */
    border-radius: 50px;
    width:30px;
    height: 30px;
    float: left;
    /* margin-left:  */
    /* color: #4B4F56; */
    /* text-shadow: none; */
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-0/p370x247/12742249_1111095285577100_5059840437179925226_n.jpg?_nc_cat=0&_nc_eui2=AeG1R_zzlpFn_2cr2JvziuUUXmVEqXudcgSb0-aj7bk7kiQIVo6LbERG6jL-JaOM7sB8bUhzVfgl4LOOUSDLkoXTWOXjTlPfy-mA0gbk7hWw6Q&oh=c64a3aedd4607b79b8a02787109f8ee9&oe=5B87AD9E);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 
ul.Msgcontainer .Me{
    /* margin: 0.6em; */
    /* border: 1px solid black; */  

    position: relative;
    clear: both;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    border-radius: 30px;
    float: right;
    color: #fff;
    text-shadow: none;
    background-color: #4080FF;
} 
ul.Msgcontainer .User{
    /* margin: 0.6em; */
    /* border: 1px solid black; */

    position: relative;
    clear: both;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 20px 0;
    font: 16px/20px 'Noto Sans', sans-serif;
    /* border-radius: 30px; */
    float: left;
    left: 35%;
    color: #fff;
    text-shadow: none;
    background-color: #5b5b5b;
} 
.ChatRoom{
    border: #000000 solid 1px;
}

body{
    height: 100vh;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
     background-blend-mode: multiply,multiply; */
     background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
      padding:0;
    }


.Msgcontainer::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }
.Msgcontainer::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
