body{
    height: 100vh;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
     background-blend-mode: multiply,multiply; */
     background-image: url('//cdntw.melaleuca.com/Images/backgrounds/trees-flowers-gradient-top.jpg');
     padding:0;
     
    }
.nav{
    background-color: #101424;
}
.shopbody{
    margin-top:1.2em;
    background-color: wheat;
    height: 100vh;
    padding:1em;
    

}

.disclaimer{
    margin-top:30vw;
}
.disclaimer p{
    color:red;
}

.shoplist{
    text-align: left;
    padding: 0;
    margin: 0;
}

.shoplist li{
    padding: 0.5em;
    margin-bottom: .175em;
    display: block;
    list-style: none;
    text-transform: uppercase;
    background-color: #C4BF78;
    color:#343434;
    font-size:18px;
    font-weight:bold;
    text-align: left;
}
