body{
height: 300vh;
/* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply; */
 background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  padding:0;
}
h1{
    color: white;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.4px;
    font-family: "Raleway", sans-serif;
}
/* .p-2{
    border-style:outset;
} */

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
}
.image_1{
    transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out;

    width: 70%;
}
.image_1:hover {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);

}

a ,h5,h4,h3{
    font-family: Raleway;
    font-weight: 500;
    /* line-height: 0px; */
    letter-spacing: 4.5px;
}
hr{
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border: none;
    border-top: #979797 3px solid;
    margin-top: 10px;
    margin-bottom: 15px;
}
.date{
    border-right: #979797 3px solid;
}
.RowDate{
    margin-bottom: 10px;
    margin-top: 10px;
}
.icon{
    margin-left: 5px;
    margin-right: 5px;
    color: black;

}
/* .icon:hover{
    
} */

.row_experience{
    margin: auto;
}
.row3{
    padding-top: 25px;
}
.Demo{
    color: #323237;
    border: 2px solid #323237;
    line-height: 40px;
    border-radius: 30px;
    display: inline-block;
    /* font-family: "graphik-bki", "PingFangTC-Semibold", "Noto Sans Bold"; */
    font-size: 14px;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 27px;
    transition: background-color 0.5s;

}
.Demo:hover{
    background-color: #323237;
    color: #fff;
    text-decoration:none;
}


.Copyemail{
    color: #323237;
    border: 2px solid #323237;
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 27px;
}
.Copyemail:hover{
    background-color: #323237;
    color: #fff;
    text-decoration:none;
    /* cursor: pointer; */
}


