nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/SteveCard') SteveChuang CV
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/SteveCard')
            | Job
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='../SteveCard/Fintness') Fintness
        li.nav-item
          a.nav-link.disabled(href='#') Cooking
        li.nav-item
          a.nav-link.disabled(href='#') Coffee    
        li.nav-item
          a.nav-link.disabled(href='#') Photography    