extends ../common/layout

block append CV_Nav
block append footer
block modal
block buttonPage
block content
    h1 股票資訊
    h3 

    script(src='/js/stock01.js')
    link(rel='stylesheet', href='/stylesheets/stock01.css')
